@media (max-width: 1200px) {
    .container {
        max-width: 880px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 650px;
    }
    .promo {
        padding: 16px 0 60px 0;
        .header {
            &__logo {
                img {
                    width: 90%;
                }
            }

            &__official {
                font-size: 10px;
                span {
                    font-size: 15px;
                }
            }

            &__phone {
                font-size: 15px;
            }
            
            .button {
                width: 140px;
                height: 30px;
            }
        }

        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }

    .promo {
        padding: 16px 0 50px 0;
        .header {
            &__logo {
                width: 180px;
            }

            &__official {
                font-size: 9px;
                span {
                    font-size: 13px;
                }
            }

            &__phone {
                font-size: 13px;
            }
            
            .button {
                width: 120px;
                height: 25px;
                font-size: 10px;
            }
        }

        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icons {
            margin-top: 60px;
            width: 330px;
        }
        &__icon {
            
            &__text{
                font-size: 12px;
            }
        }
        .button_main {
            margin-top: 55px;
            width: 240px;
            height: 40px;
            font-size: 14px;
        }
        &__link {
            margin-top: 15px;
            font-size: 13px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
    }

    .promo {
        min-height: 400px;
        padding: 16px 0 30px 0;
        .header {
            display: flex;
            justify-content: space-around;
            &__logo {
                img {
                    width: 80%;
                }
                
            }

            &__official {
                display: none;
            }

            &__phone {
                font-size: 12px;
            }
            
            .button {
                width: 100px;
                height: 25px;
                font-size: 9px;
            
            }
        }

        &__wrapper {
            align-items: center;
            margin-top: 50px;
        }

        &__header {
            text-align: center;
            font-size: 30px;
        }
        &__subheader {
            text-align: center;
            font-size: 20px;
            margin-top: 15px;
        }
        &__icons {
            display: none;
        }
        
        .button_main {
            margin-top: 25px;
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
        &__link {
            margin-top: 10px;
            font-size: 15px;
        }
    }

    .advantages {
        padding: 40px 0 20px 0;
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }
        &__header {
            font-size: 20px;
        }
        &__icon {
            margin-bottom: 25px;
            &__subheader {
                margin-top: 10px;
                font-size: 20px;
            }
            &__text {
                margin-top: 15px;
                font-size: 17px;
                text-align: left;
            }
        }
    }

    .consultation {
        min-height: 560px;
        padding: 20px 0 20px 0;
        .title_left {
            font-size: 20px;
            line-height: 42px;
        }
        &__descr {
            font-size: 18px;
        }
        .feed-form {
            margin-top: 25px;
            width: 270px;
            input {
                height: 50px;
            }
        }
    }

    .carousel {
        padding: 50px 0 50px 0;

        &__inner {
            width: 100%;
            img {
                width: 300px;
                margin: 0 auto;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: space-around;
            button {
                display: none;
            }
            
        }
    }

    .catalog {
        padding-bottom: 20px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 95px;
            height: 45px;
            font-size: 10px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            min-height: 400px;
            &__img {
                height: 120px;
            }
            hr {
                margin-top: 0px;
                margin-bottom: 10px;
            }
        }
    }

    .reviews {
        padding-bottom: 30px;
        .title {
            font-size: 20px;
        }
        &__item {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            img {
                width: 130px;
                height: 130px;
            }

            &__text {
                &__header {
                    margin-top: 30px;
                    font-size: 17px;
                }
                &__subheader {
                    font-size: 13px;
                    margin-top: 5px;
                }
                &__descr {
                    font-size: 14px;
                }
            }
        }
    }
    .footer {
        min-height: 270px;
        &__map{
            display: none;
        }
        &__info {
            width: 100%;
        }
        &__social-item {
            margin: 0px 5px;
        }
    }

    .modal {
        min-height: 365px;
        width: 280px;
        padding: 25px 23px 25px 28px;
        &__subtitle {
            font-size: 18px;
        }
        &__descr {
            font-size: 15px;
            margin-bottom: 15px;
        }
        &__close {
            font-size: 30px;
            right: -22px;
        }
        .error {
            font-size: 14px;
        }
    }

    .feed-form {
        &_mt25{
            width: 200px;
            margin: 0 auto;
            input {
                height: 47px;
            }
        }
    } 

    .button_submit {
        margin: 0 auto;
        height: 46px;
        width: 80%;
        font-size: 13px;
        
    }
}

@media (max-width: 325px) {
    .container {
        max-width: 291px;
    }
}
